<html>
    <head>
        <title>Tabula Smaragdina</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Tabula Smaragdina</a></h1>
        </div>

        <div>
            <p>author: Igris the Blooded</p>
            <h2><a href="">First tablet</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>author: Igris the Blooded</p>
            <h2><a href="">Second tablet</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
<html>